.form {
    & input:not([type="checkbox"]) {
        @apply block w-full py-2;

        &:focus {
            @apply outline-none ring-0 border-0;
        }
    }

    & input[type="checkbox"] {
        margin-right: 13px;
    }

    &-body {
        @apply mt-6 rounded-lg border-2 border-gray-100 px-7 py-1;
    }

    &-message {
        @apply hidden mb-2 text-sm;
    }

    &-label {
        @apply block font-medium;

        transition: color $transition-duration ease-in-out;
    }

    &-input-group {
        @apply flex items-center;

        .form-icon {
            @apply mr-3 text-xl mt-px;
        }
    }

    &-group {
        @apply relative block pt-5 pb-2 cursor-text;

        transition: border-color $transition-duration ease-in-out;

        &:not(:last-child) {
            @apply pb-3 border-b-2 border-gray-100;
        }

        &.typing {
            @apply border-indigo-600;

            & .form-label {
                @apply text-indigo-600;
            }
        }

        &.invalid {
            @apply border-red-500;

            & .form-message {
                @apply block text-red-500;
            }

            & .form-input-group {
                .form-icon {
                    @apply text-red-500;
                    animation: shake 0.5s ease-in-out;
                }
            }
        }
    }
}
